body {
  font-family: 'SUSE', sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5; /* Light gray background */
}

.container {
  max-width: 800px;
  margin: 50px auto;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle box shadow */
  background-color: #fff; /* White content background */
}

header {
  text-align: center;
  margin-bottom: 20px;
}

h1 {
  font-size: 2.2em;
  color: #333;
  margin-bottom: 10px;
  transition: transform 0.3s ease-in-out;
}

h1:hover {
  transform: scale(1.03); /* Slight zoom on hover */
}

h3 {
  font-size: 1.3em;
  color: #555;
  margin-top: 0;
}

p {
  font-size: 1em;
  line-height: 1.6;
  margin-bottom: 20px;
}

ul {
  list-style: disc;
  padding-left: 20px;
}

section {
  margin-bottom: 20px;
}

section h2 {
  font-size: 1.6em;
  color: #007bff; /* Blue color for section headers */
  border-bottom: 1px solid #ddd; /* Light gray underline */
  padding-bottom: 5px;
  margin-bottom: 15px;
  transition: transform 0.3s ease-in-out;
}

section:hover {
  transform: scale(1.01); /* Minor zoom effect on hover */
}

footer {
  text-align: center;
  font-size: 0.9em;
  margin-top: 20px;
  padding-top: 10px;
  border-top: 1px solid #ddd; /* Light gray border at the top */
}

.contact-icons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

.contact-icons a {
  text-decoration: none;
  color: #007bff; /* Blue color for icons */
  transition: color 0.3s ease-in-out;
}

.contact-icons a:hover {
  color: #005cb8; /* Darker blue on hover */
}

/* Language buttons */
.lang-button {
  padding: 5px 10px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  cursor: pointer;
  background-color: #fff; /* White button background */
  color: #333; /* Text color */
  transition: background-color 0.2s ease-in-out;
}

.lang-button.active {
  background-color: #eee; /* Light gray background for active button */
}
